@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

.swiper-portfolio {
  padding-right: 250px;
}

@media screen and (max-width: 767px) {
  .swiper-portfolio {
    width: 100%;
    padding-left: 30px;
    padding-right: 0px;
  }
}
